@page
@model JsonMvcApp.Pages.Products.IndexModel

<h1>Список товаров</h1>
@if (Model.Products.Count == 0) {
    <p>Товаров пока нет.</p>
}else
{
    <table class="table">
        <thead>
            <tr>
                <td>ID</td>
                <td>Название</td>
                <td>Цена</td>
                <td>Описание</td>
                <td>Действия</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products){
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Description</td>
                    <td>
                        <a asp-page="/Products/Details" asp-route-id="@product.Id">Открыть</a>
                        <a asp-page="/Products/Edit" asp-route-id="@product.Id">Редактировать</a>
                        <a asp-page="/Products/Delete" asp-route-id="@product.Id">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



